* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f0f8ff;
}

#main-content {
	background: white;
	border-radius: 10px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	padding: 20px;
	width: 90%;
	max-width: 500px;
}

h1 {
	text-align: center;
	color: #003366;
	margin-bottom: 20px;
}

form {
	display: flex;
	flex-direction: column;
}

input[type='text'],
select {
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	transition: border 0.3s ease;
}

input[type='text']:focus,
select:focus {
	border-color: #003366;
	outline: none;
}

input[type='submit'] {
	background-color: #003366;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

input[type='submit']:hover {
	background-color: #002244;
}

#list {
	margin-top: 20px;
}

#tasks {
	list-style-type: none;
	padding: 0;
}

#tasks li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(240, 248, 255, 0.9);
	padding: 10px;
	margin: 5px 0;
	border-radius: 5px;
	transition: background 0.3s ease;
}

#tasks li:hover {
	background: rgba(240, 248, 255, 1);
}

button {
	background: none;
	border: none;
	cursor: pointer;
	font-weight: bold;
	color: #003366;
	transition: color 0.3s ease;
}

button:hover {
	color: #002244;
}

.low {
	color: green;
}

.medium {
	color: rgb(25, 2, 109);
}

.high {
	color: red;
}
